body, html {
  color: white;
}

.background {
  background-color: white;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: black;
  min-height: calc(100vh - 2rem);
  width: calc(100% - 1rem);
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  align-items: stretch;
}

.leftTextBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  max-width: 500px;
}


.header {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.name {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  background-image: linear-gradient(to right, #BF5AE0, #007AFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.role {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
}

.introStack {
  padding-bottom: 80px;
}

.favorites {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding-bottom: 20px;
}

.interestsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.technologies {
  font-family: 'Inter';

  width: 100%;
}

.styledP {
  background-image: linear-gradient(to right, #BF5AE0, #007AFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}


@media screen and (max-width: 1200px) {

  .background {
    background-color: black;
  }

  .card {
    max-width: 450px;
  }

  .leftTextBlock {
    max-width: 450px
  }
  
  .content {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    align-items: center;
    justify-content: left;
    gap: 48px;
  }
  .header {
    font-size: 1.5rem;
  }
  .name {
    font-size: 3rem;
  }
  .interestsContainer {
    flex-direction: column;
    justify-content: center;

  }
  .container {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 500px) {
  .card {
    max-width: 350px;
  }

  .leftTextBlock {
    max-width: 350px;
  }
}


.morphingTextWrapper {
  width: 100%;
  display: flex;
}
